@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;700&family=Tiro+Devanagari+Marathi&display=swap");

.btn {
  width: 150px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  background-image: linear-gradient(90deg, #fd7f34, #bd155b);
  display: inline-block;
  padding: 14px 30px;
  border: 1px solid;
  position: relative;
  z-index: 0;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 10px;
  outline: none;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
}
.btn:before {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(90deg, #fd7f34, #bd155b);
  z-index: -2;
  transition: 0.4s;
  border-radius: 5px;
}
.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #fff, #fff);
  z-index: -1;
  transition: 0.4s;
  border-radius: 4px;
}
.btn:hover {
  color: #fff;
  transition: 0.3s;
}
.btn:hover:after {
  background: linear-gradient(90deg, #fd7f34, #bd155b);
}
.btn:active:after {
  background: linear-gradient(90deg, #d96d2d, #760f3a);
}
.btn:focus-visible {
  box-shadow: 0 0 0 3px #fd7f34;
}
.btn:disabled {
  pointer-events: none;
}
.btn:disabled:before {
  filter: grayscale(100%);
}

/* .buttonStyle {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  cursor: pointer;
  background-color: #ccccff;
  color: black;
  width: 80px;
  height: 30px;
  border: 1px solid #6a5acd;
  border-radius: 50px;
  margin: 10px;
}

.buttonStyle:disabled {
  pointer-events: none;
  opacity: 0.5;
} */
